<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{270,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{270,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,910},{264,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{264,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{264,410}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{264,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,980},{264,410}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{264,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{264,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{264,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,714},{264,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{264,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,358},{352,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{352,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>202.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{372,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{372,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{354,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{354,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>204.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{354,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{354,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>205.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,376},{336,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{336,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{392,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1680},{208,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,0},{208,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>302.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1750},{188,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{188,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{138,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{138,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{280,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{280,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,358},{278,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{278,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,638},{270,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{270,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1176},{256,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{256,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>402.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1248},{246,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1434},{244,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{244,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>404.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1932},{244,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,1},{244,408}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{280,408}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{280,408}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1724},{278,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{278,408}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2134},{236,216}}</string>
                <key>offset</key>
                <string>{-1,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,194},{236,216}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1198},{286,336}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,74},{286,336}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1486},{236,306}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,104},{236,306}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>504.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1940},{270,406}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,2},{270,406}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1890},{270,408}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,2},{270,408}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>506.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1740},{190,410}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,0},{190,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,200},{372,196}}</string>
                <key>offset</key>
                <string>{-1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,214},{372,196}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>602.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,778},{372,188}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,222},{372,188}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>603.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,588},{372,188}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,222},{372,188}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>604.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,398},{372,188}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,222},{372,188}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>605.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{372,196}}</string>
                <key>offset</key>
                <string>{-1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,214},{372,196}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,968},{370,228}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,182},{370,228}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{258,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{258,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>702.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1246},{260,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{260,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>703.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1508},{240,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{240,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{282,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{282,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>705.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,984},{262,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{262,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
            <key>706.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1496},{242,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{242,410}}</string>
                <key>sourceSize</key>
                <string>{400,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>furniture_icon.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29eb4cd538a26ed8a3e5341090aeffdd$</string>
            <key>textureFileName</key>
            <string>furniture_icon.png</string>
        </dict>
    </dict>
</plist>
