<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>staff_up_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1790},{184,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,182}}</string>
                <key>sourceSize</key>
                <string>{184,182}</string>
            </dict>
            <key>staff_up_btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1790},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>staff_up_btn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1790},{186,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,174}}</string>
                <key>sourceSize</key>
                <string>{186,174}</string>
            </dict>
            <key>staff_up_btn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{184,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,194}}</string>
                <key>sourceSize</key>
                <string>{184,194}</string>
            </dict>
            <key>staff_up_btn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1790},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>staff_up_btn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1790},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>staff_up_btn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1790},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>staff_up_btn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1790},{184,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,191}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>staff_up_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{890,657}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{890,657}}</string>
                <key>sourceSize</key>
                <string>{1006,657}</string>
            </dict>
            <key>staff_up_top_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,894},{890,638}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{890,638}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,640}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{892,640}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,2},{870,638}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,16},{870,638}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,896},{892,638}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,16},{892,638}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{892,638}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,16},{892,638}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2},{868,624}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{868,624}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
            <key>staff_up_top_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,874},{868,638}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,16},{868,638}}</string>
                <key>sourceSize</key>
                <string>{1006,654}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>staff_up.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4310432e7d1ec5e4526a9938e94992e7$</string>
            <key>textureFileName</key>
            <string>staff_up.png</string>
        </dict>
    </dict>
</plist>
