<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,452}}</string>
                <key>sourceSize</key>
                <string>{297,452}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{287,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,445}}</string>
                <key>sourceSize</key>
                <string>{287,445}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1351},{286,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,445}}</string>
                <key>sourceSize</key>
                <string>{286,445}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,456},{287,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,445}}</string>
                <key>sourceSize</key>
                <string>{287,445}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{288,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,445}}</string>
                <key>sourceSize</key>
                <string>{288,445}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{286,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,446}}</string>
                <key>sourceSize</key>
                <string>{286,446}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1738},{232,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,270}}</string>
                <key>sourceSize</key>
                <string>{232,270}</string>
            </dict>
            <key>202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,224},{232,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,257}}</string>
                <key>sourceSize</key>
                <string>{234,257}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1734},{221,269}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,269}}</string>
                <key>sourceSize</key>
                <string>{233,269}</string>
            </dict>
            <key>204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1511},{221,269}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,269}}</string>
                <key>sourceSize</key>
                <string>{233,269}</string>
            </dict>
            <key>205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{220,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,269}}</string>
                <key>sourceSize</key>
                <string>{220,269}</string>
            </dict>
            <key>206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{247,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,259}}</string>
                <key>sourceSize</key>
                <string>{247,259}</string>
            </dict>
            <key>301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,502},{81,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,158}}</string>
                <key>sourceSize</key>
                <string>{81,158}</string>
            </dict>
            <key>302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,419},{81,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,176}}</string>
                <key>sourceSize</key>
                <string>{81,176}</string>
            </dict>
            <key>303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,758},{79,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,235}}</string>
                <key>sourceSize</key>
                <string>{79,235}</string>
            </dict>
            <key>304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,773},{164,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,241}}</string>
                <key>sourceSize</key>
                <string>{164,241}</string>
            </dict>
            <key>305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,995},{164,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,242}}</string>
                <key>sourceSize</key>
                <string>{164,242}</string>
            </dict>
            <key>306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,577},{164,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,249}}</string>
                <key>sourceSize</key>
                <string>{164,249}</string>
            </dict>
            <key>401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,413},{251,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,403}}</string>
                <key>sourceSize</key>
                <string>{251,403}</string>
            </dict>
            <key>402.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1296},{246,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,409}}</string>
                <key>sourceSize</key>
                <string>{246,409}</string>
            </dict>
            <key>403.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1798},{246,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,409}}</string>
                <key>sourceSize</key>
                <string>{246,409}</string>
            </dict>
            <key>404.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,846},{245,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,409}}</string>
                <key>sourceSize</key>
                <string>{245,409}</string>
            </dict>
            <key>405.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1751},{281,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,409}}</string>
                <key>sourceSize</key>
                <string>{281,409}</string>
            </dict>
            <key>406.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{280,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,409}}</string>
                <key>sourceSize</key>
                <string>{280,409}</string>
            </dict>
            <key>501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,272},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1643},{95,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1643},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1643},{93,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,140}}</string>
                <key>sourceSize</key>
                <string>{93,140}</string>
            </dict>
            <key>505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,662},{109,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,165}}</string>
                <key>sourceSize</key>
                <string>{109,165}</string>
            </dict>
            <key>506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,458},{117,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,253}}</string>
                <key>sourceSize</key>
                <string>{117,253}</string>
            </dict>
            <key>601.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,903},{423,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,223}}</string>
                <key>sourceSize</key>
                <string>{423,223}</string>
            </dict>
            <key>602.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,873},{421,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,214}}</string>
                <key>sourceSize</key>
                <string>{421,214}</string>
            </dict>
            <key>603.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1328},{421,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,214}}</string>
                <key>sourceSize</key>
                <string>{421,214}</string>
            </dict>
            <key>604.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,449},{422,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,215}}</string>
                <key>sourceSize</key>
                <string>{422,215}</string>
            </dict>
            <key>605.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{421,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,225}}</string>
                <key>sourceSize</key>
                <string>{421,225}</string>
            </dict>
            <key>606.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,425},{419,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,258}}</string>
                <key>sourceSize</key>
                <string>{419,258}</string>
            </dict>
            <key>701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{222,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,353}}</string>
                <key>sourceSize</key>
                <string>{222,353}</string>
            </dict>
            <key>702.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,403},{224,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,353}}</string>
                <key>sourceSize</key>
                <string>{224,353}</string>
            </dict>
            <key>703.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1257},{224,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,384}}</string>
                <key>sourceSize</key>
                <string>{224,384}</string>
            </dict>
            <key>704.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,818},{259,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,377}}</string>
                <key>sourceSize</key>
                <string>{259,377}</string>
            </dict>
            <key>705.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,2},{255,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,399}}</string>
                <key>sourceSize</key>
                <string>{255,399}</string>
            </dict>
            <key>706.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1351},{257,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,438}}</string>
                <key>sourceSize</key>
                <string>{257,438}</string>
            </dict>
            <key>furniture_back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,502},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>furniture_back_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,581},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1197},{312,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,186}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{268,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,132}}</string>
                <key>sourceSize</key>
                <string>{268,132}</string>
            </dict>
            <key>shadow_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1511},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>shadow_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,357},{185,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
            <key>shadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1747},{299,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,178}}</string>
                <key>sourceSize</key>
                <string>{299,178}</string>
            </dict>
            <key>shadow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1197},{93,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,53}</string>
            </dict>
            <key>shadow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,903},{433,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,148}}</string>
                <key>sourceSize</key>
                <string>{433,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_furniture.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74530cbf2c45bde1baf6d71e7914b39f$</string>
            <key>textureFileName</key>
            <string>main_furniture.png</string>
        </dict>
    </dict>
</plist>
