<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,330}</string>
                <key>spriteSourceSize</key>
                <string>{394,330}</string>
                <key>textureRect</key>
                <string>{{1139,1},{394,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{503,579}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{1,1133},{503,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,279}</string>
                <key>spriteSourceSize</key>
                <string>{233,279}</string>
                <key>textureRect</key>
                <string>{{1,1714},{233,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{503,571}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{506,1133},{503,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{539,567}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{570,1},{539,567}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,309}</string>
                <key>spriteSourceSize</key>
                <string>{284,309}</string>
                <key>textureRect</key>
                <string>{{506,1706},{284,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{425,557}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{542,556},{425,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{523,555}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{969,542},{523,555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,292}</string>
                <key>spriteSourceSize</key>
                <string>{335,292}</string>
                <key>textureRect</key>
                <string>{{1011,1630},{335,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{529,513}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{1011,1099},{529,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{539,575}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{1,556},{539,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{567,553}</string>
                <key>spriteSourceSize</key>
                <string>{579,579}</string>
                <key>textureRect</key>
                <string>{{1,1},{567,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>towers_new.png</string>
            <key>size</key>
            <string>{1525,1991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1e71e8dbacd620269f9c310898a0a7:68cdd7d055ede74a18ee014df8eebc60:fea4c6c1d260a8bfb1cdd606190ae95f$</string>
            <key>textureFileName</key>
            <string>towers_new.png</string>
        </dict>
    </dict>
</plist>
