<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{439,488}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{439,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{383,488}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{383,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,982},{303,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{303,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,492},{349,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{349,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,982},{247,484}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,4},{247,484}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,2},{363,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{363,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,492},{367,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{367,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{259,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{259,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,492},{323,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{323,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,982},{325,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{325,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,982},{355,488}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{355,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{377,488}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{377,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,982},{373,488}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{373,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,492},{379,488}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{379,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{443,488}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{443,488}}</string>
                <key>sourceSize</key>
                <string>{513,488}</string>
            </dict>
            <key>tower_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>towers.png</string>
            <key>size</key>
            <string>{2000,1473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb0676c61c6a7812f2506edae393dd1$</string>
            <key>textureFileName</key>
            <string>towers.png</string>
        </dict>
    </dict>
</plist>
